{% extends "base.html" %}

{% load i18n %}

{% block title %}Home{% endblock %}

{% block content %}
<video id="gum" playsinline autoplay muted></video>
<video id="recorded" playsinline loop controls></video>

<div>
    <button id="record" disabled>Start Recording</button>
    <button id="play" disabled>Play</button>
    <button id="upload" disabled>Upload</button>
</div>
{% load static %}
<script src='{% static "js/adapter-latest.js" %}'></script>
<script src='{% static "js/main.js" %}'></script>
{% endblock %}